# Server configuration
EDOPRO_PATH=/usr/local/ProjectIgnis/EDOPro

# Discord bot configuration
DISCORD_TOKEN=<add your Discord token here>
ECHELON_SERVER_URL=http://server:3000

# Optional: Shared secret to allow Discord bot to bypass rate limits
# Must match on both server and discord bot environments
BOT_SECRET=your-secret-token-here

# If Echelon is hosted on lower-end hardware, renders might take longer 
# than the replay runtime, causing ETAs to be inaccurate.
# 
# In such cases, use the TIME_MULTIPLIER environment variable to override this.
# 
# Each job's logs will print a "ratio" that you can use as a baseline; 
# you should aim for about 10% higher than that to be safe.
#
# For example, Echelon's production server usually shows a ratio between 0.8x and 1.1x,
# so 1.0 is appropriate.
TIME_MULTIPLIER=1.0